
/////////////////////////////////////////////////////////////////////
///////////////////////////   ARTICLE   /////////////////////////////
/////////////////////////////////////////////////////////////////////
#main_container.article_template{
  header{
    ////////////////////////
    // IMAGE
    .photo_holder{

      // SHADOW OVERLAY
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%; height: 100%;
        background-color: rgba(#000, .5);
      }
    }
  }

  #news_module{
    display: none;
  }

  ///////////////////////////////////////
  // MEDIA QUERIES
  ///////////////////////////////////////
  @media screen and (min-width: $bp_desktop){
    #news_module{
      display: block;
    }
  }
}


/////////////////////////////////////////////////////////////////////
////////   PAGES (Ej. Términos, Contacto, Aviso, Etc...)   //////////
/////////////////////////////////////////////////////////////////////
#main_container.page_template{

  article{
    width: 100%;
    border: none;
    margin: 1em auto;

    .content_holder{
      border: none;
      padding-bottom: 0;
    }
  }


  ////////////////////////////////
  /// FORMS (Ej. Contact Page)
  form{
    position: relative;
    margin: 0 auto; padding: 0; border: none;
    max-width: 40em;

    // TITLES
    h3{
      margin: 0 auto 2em;
      text-align: center;
    }

    // CONTAINERS
    .data_holder{
      position: relative;
      margin-bottom: 1.5em;
    }

    // LABEL
    label{
      margin-bottom: .5em;
      padding: .4em .65em;
      border-right: 5px solid #575656;
      color: #FFF;
      background: $id_color2;
      font-family: $font_titles;
      font-size: 0.9375em;
      text-transform: uppercase;
      letter-spacing: .045em;
    }

    // INPUTS, TEXTAREA, ETC...
    input,
    textarea{
      display: block;
      border: solid 1px $id_color2;
      width: 100%;
      padding: .4em .65em;
      color: #888;
      font-family: $font_titles;
      font-size: 1.25em;
    }
    textarea{
      min-height: 6em;
    }

    input[type=submit]{
      background: $id_color;
      color: #fff;
      border: none;
      width: auto;
      //min-width: 6em;
      margin: 0 auto;
      padding: .1em 3em;
    }
  }

  ///////////////////////////////////////
  // MEDIA QUERIES
  ///////////////////////////////////////
  @media screen and (min-width: $bp_desktop){
    ////////////////////////////////
    /// FORMS (Ej. Contact Page)
    form{
      // TITLES
      h3{
        width: 80%;
      }
    }
  }

  @media screen and (min-width: $bp_desktop_full){
    #news_module{
    }


    header{
      height: auto;

      // Content Wrapper
      .wrapper{
        max-height: 480px;

        // Proportional Scale
        &:before{
          display: block;
        }
      }
    }

    article{
      .content_holder{
        padding: 2em 0;
        width: 80%;
      }
    }
  }
}

section.article_module{
  padding-top: 2em;
  
  // Section Circle Icon
  .circle_icon{
    display: none;
  }



  /////////////////////////
  // ARTICLE
  article{
    position: relative;

    /////////////////////////
    /// ARTICLE CONTENT
    .content_holder{
      position: relative;
      max-width: 25em;
      margin: 0 auto 1em;
      padding-bottom: 1em;
      border-bottom: solid 1px #222;

      // TITLES
      h1, h2, h3{
        font-size: 1.5em;
        margin: 1.5em auto 1em;
      }

      // LINKS
      a{
        color: #308be3;

        // Hover
        &:hover{
          text-decoration: none;
          color: darken(#308be3, 16%);
        }
      }

      // IMAGES
      img{
        display: block;
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
        margin: 0 auto 1.5em;
      }

      // VIDEOS
      .video_holder{
        position: relative;
        width: 100%;
        max-width: 100%;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin: 0 auto 1em;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      video {
        width: 100%    !important;
        height: auto   !important;
      }
    }


    /////////////////////////
    /// AUTHOR INFO
    .author_holder{
      margin: 0 auto 1em;
      text-align: center;

      .photo_holder{
        display: inline-block;
        max-width: 100%;
        margin-right: .75em;

        a{
          display: inline-block;
        }

        img{
          border-radius: 50%;
        }
      }

      p{
        display: inline-block;

        a{
          color: #222;
          @include transition(color .08s ease-out);

          span{
            color: $id_color
          }

          // Hover
          &:hover{
            color: $id_color;
            text-decoration: none;
          }
        }
      }
    }
    

    /////////////////////////
    /// ARTICLE TAGS
    .tags_holder{
      margin: 0 auto 1.5em;
      color: $id_color;
      font-family: $font_titles;
      font-weight: 700;
      font-size: .75em;
      text-align: center;
      text-transform: uppercase;

      ol{
        display: inline;
        margin: 0 0 2em; padding: 0; border: 0;
        list-style: none;
        position: relative;
        @include clearfix;
        
        // TAG
        li{
          display: inline;
          margin-right: .5em;

          // Link
          a{
            color: #222;
            @include transition(color .08s ease-out);

            //
            &:hover{
              color: $id_color;
              text-decoration: none;
            }
          }
        }
      }
    }

    /////////////////////////
    /// SOCIAL SHARE NETWORKS
    ol.socialShare_list{
      margin: 0 0 2em; padding: 0; border: 0;
      list-style: none;
      position: relative;
      @include clearfix;

      // ITEM
      li{
        position: relative;
        float: left;
        width: 50%;
        text-align: center;

        // Link
        a{
          position: relative;
          padding: .3em;
          color: #FFF;
          display: block;
          background-color: $id_color2;
          font-size: 1.5em;
          @include transition(background .1s ease-out);

          // Hide Text
          span{
            @extend .sr-only;
          }

          // Hover
          &.active,
          &:hover{
            text-decoration: none;
            background-color: darken($id_color2, 8%)
          }

          // Networks
          &.fa-facebook{
            background: #3a5794;

            //
            &:hover{
              background: darken(#3a5794, 10%)
            }
          }
          &.fa-twitter{
            background: #1da8e1;

            //
            &:hover{
              background: darken(#1da8e1, 10%)
            }
          }
          &.fa-whatsapp{
            background: #0fa000;

            //
            &:hover{
              background: darken(#0fa000, 10%)
            }
          }
        }
      }
    }
  }



  /////////////////////////
  // ASIDE
  aside{
    text-align: center;
    margin-bottom: 2em;

    .module{
      margin-bottom: 1.5em;
    }

    // TITLE
    h3.cat_name{
      margin-bottom: .5em;
    }


    ///////////////////////////
    // BANNERS
    .banners_holder.module{
      margin-bottom: 1.5em;
    }


    ///////////////////////////
    // NEWSLETTER
    .newsletter.module{
      width: calc(100% - 5px);
      //display: none;
      -webkit-box-shadow: 5px 5px 0px 0px rgba(222,222,222,1);
      -moz-box-shadow: 5px 5px 0px 0px rgba(222,222,222,1);
      box-shadow: 5px 5px 0px 0px rgba(222,222,222,1);

      // TITLE
      .title_holder{
        color: #FFF;
        text-transform: uppercase;
        padding: .5em 0;
        background: #000;

        h4{
          width: 12.5em;
          margin: 0 auto; padding:0;
          font-size: 1em;
          letter-spacing: .03em;
          text-align: left;
          background: url($images-path+'icon_arrow_right.png') no-repeat right center;
          background-size: 30px;


          span{
            display: block;
            position: relative;
            color: $id_color;
            background: url($images-path+'icon_mail.png') no-repeat left center;
            background-size: 30px;
            font-size: 1.36em;
            padding-left: 1.95em;
          }
        }
      }

      // FORM
      form{
        position: relative;
        padding: 1.25em 1em; margin: 0; border: 0;
        @include linear-gradient(#9b9999 0%, #dfdddd 50%, #eceaea 100%);

        .data_holder{
          position: relative;
        }

        label{
          position: absolute;
          left: .62em; top: .38em;
          text-transform: uppercase;
          font-size: 0.875em;
          color: #505050;
        }

        input[type=text]{
          width: 100%;
          margin: 0; border: none;
          padding: .16em .5em 0em 3.5em;
          line-height: 1.8em;
          font-size: .94em;
          font-family: $font_main;
          color: #777
        }

        input[type=submit]{
          margin: .75em auto 0; border: none;
          padding: .16em .75em;
          line-height: 1.6em;
          font-size: .9em;
          font-weight: 600;
          text-transform: uppercase;
          color: #FFF;
          background: $id_color;
        }
      }
    }


    ///////////////////////////
    // LATEST NEWS
    .latest_holder.module{
      display: none;

      // NEWS LIST
      ol.latest_list{
        // ITEM
        li{
          width: 100%;
          margin: 0 0 1em !important;
          padding: 0;

          &:nth-child(4n+1){
            @include column_article;
            width: 100% !important;
          }

          span.cat_name{
            a{ &:hover{ color: $id_color } }
          }
          span.date{
            color: #7d7d7d
          }
        }
      }
    }
  }



  /////////////////////////
  // RELATED NEWS
  .relacionados_holder{
    width: 100%;
    //margin-bottom: 2em;
    padding: 1.5em 1em;
    background: #111;
    text-align: center;
    
    // TITLE
    h3.cat_name{
      margin: 0 auto 2em;
    }

    // NEWS LIST
    ol{
      // ITEM
      li{
        @include column_article;
        border-color: #666;

        &:last-child{
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        
        //
        h4{
          a{
            color: #fff;
          }
        }
      }
    }
  }




  ///////////////////////////////////////
  // MEDIA QUERIES
  ///////////////////////////////////////
  @media screen and (min-width: 600px){

    .wrapper_container{
      max-width: 40em;
    }

    /////////////////////////
    // ARTICLE
    article{

      /////////////////////////
      /// ARTICLE CONTENT
      .content_holder{
        max-width: none;

        // TITLES
        h1, h2, h3{
          font-size: 1.5em;
        }
      }

      /////////////////////////
      /// SOCIAL SHARE NETWORKS
      ol.socialShare_list{
        // ITEM
        li{
          width: 25%;
        }
      }
    }
  }

  @media screen and (min-width: $bp_desktop){
    .wrapper_container{
      max-width: 80em;
      @include clearfix;
    }

    /////////////////////////
    // ARTICLE
    article{
      padding: 0 30px;
      float: left; 
      width: calc(100% - 315px);

      /////////////////////////
      /// AUTHOR INFO
      .author_holder{
        text-align: left;
      }

      /////////////////////////
      /// ARTICLE TAGS
      .tags_holder{
        text-align: left; 
      }
    }


    /////////////////////////
    // ASIDE
    aside{
      padding: 0 15px 0 0;
      width: 315px;
      float: left;

      // LATEST NEWS
      .latest_holder.module{
        display: block;
      }
    }


    /////////////////////////
    // RELATED NEWS
    .relacionados_holder{
      padding-left: 0; padding-right: 0;
      width: 100%;
    }
  }

  @media screen and (min-width: $bp_desktop_full){
  
    // Section Circle Icon
    .circle_icon{
      display: block;
    }

    /////////////////////////
    // ARTICLE
    article{

      /////////////////////////
      /// ARTICLE CONTENT
      .content_holder{

        // TITLES
        h1, h2, h3{
          font-size: 1.75em;
        }
      }
    }

    
  }
}