
/////////////////////////////////////////////////////////////////////
///////////////////////////   HEADER  ///////////////////////////////
/////////////////////////////////////////////////////////////////////
header{
  position: relative;
  width: 100%;
  

  ////////////////////////
  // IMAGE
  .photo_holder{
    position: relative;
    //background-color: #000;
    width: 100%;
    //min-height: 300px;
    overflow: hidden;

    // RESPONSIVE PROPORTIONS
    &:before{
      content: '';
      display: block;
      position: relative;
      width: 100%; //height: 100%;
      padding-bottom: $layout_desktop_header_ratio;
      background-color: transparent;
    }



    ////////////////////////
    // VIDEO TYPE
    &.video_type{
      a{
        // Player Icon
        &:after{
          content: '';
          display: none;
          position: absolute;
          left: 0;
          z-index: 1;
          @include alignCenter();
          width: 62px;
          height: 62px;
          background: url($images-path+'icon_videoPlayer.png') no-repeat center;
          background-size: contain;
        }
      }
    }


    // ARTICLE COVER
    img{
      width: 100%;
      height: auto;
    }

    a{
      position: absolute;
      top: 0; left: 0;
      display: block;
      width: 100%;
      height: 100%;

      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%; height: 100%;
        @include linear-gradient(rgba(#000, .28) 0%, rgba(#000, .6) 80%, rgba(#000, .9) 100%);
        //background-color: rgba(#000, .5);
        @include transition(all .16s ease-out);
      }

      &:hover{
        &:before{
            @include linear-gradient(rgba(#000, .35) 0%, rgba(#000, .6) 80%, rgba(#000, .9) 100%);
        }
      }
    }
  }


  ////////////////////////
  // INFO HOLDER
  .article_info{
    @extend .container;
    z-index: 2;
    text-align: center;
    padding-bottom: 2em; padding-top: 2em;
    width: 100%;
  }



  ////////////////////////
  // TITLES
  h3.cat_name{
   // @include transform(translateY(-50%));
    margin-bottom: .25em
  }

  h2{
    text-transform: uppercase;
    font-size: 1.55em;
    margin: .25em auto;

    //LINK
    a{
      color: #222;
      @include transition(all .08s ease-out);

      // HOVER
      &:hover{
        color: #fff;
        background: $id_color;
        text-decoration: none;
      }
    }
  }



  ////////////////////////
  // LATES NEWS
  .latest_holder{
    display: none;

    ////
    // LIST
    ul{
      position: relative;
      margin: 0; padding: 0; border: 0;
      list-style: none;
      height: 100%;
      @include clearfix();

      li{
        position: relative;
        float: left;
        width: 33.333%;
        height: 100%;
        

        // ARTICLE TITLE
        h2{
          font-size: 1.333em;
          font-weight: normal;
        }
        
        // ARTICLE INFORMATION
        .article_info{
          padding: 0 .5em;
          bottom: 1em;
        }
        
        // COVER
        .photo_holder{
          // Link
          a{ }
        }
      }
    }
  }





  ///////////////////////////////////////
  // MEDIA QUERIES
  ///////////////////////////////////////
  @media screen and (min-width: 45.5em){
    background: $id_color2;
    
    // Content Wrapper
    .wrapper{
      position: relative;
      margin: 0 auto; 
      max-width: $bp_desktop_max;
      padding-left: 30%;

      // Proportional Scale
      &:before{
        content: '';
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: ( ($layout_desktop_header_ratio) / 70 ) * 100;
      }

      .slider{
        position: absolute;
        height: 100%;
        width: 70%;
        top: 0; //left: 0;
      }
      
      // Content
      .content{
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }


    ////////////////////////
    // IMAGE
    .photo_holder{
      height: 100%;

      // ARTICLE COVER
      img{
        @include alignCenter(true, true);
      }

      a{
        &:after{
          position: relative;
        }
      }
    }

    ////////////////////////
    // INFO HOLDER
    .article_info{
      position: absolute;
      bottom: 2em;
      padding: 0 6em;
      color: #fff;
    }

    ////////////////////////
    // TITLES
    span.date{
      color: #fff;
    }

    h2{
      font-size: 1.75em;
      a{ color: #fff; }
    }


    ////////////////////////
    // SECTION TEMPLATE
    ////////////////////////
    &.section_template{
      .main_holder{
        position: relative;
        height: 75%;
      }
     .latest_holder{
        position: relative;
        display: block;
        height: 25%;

        h2{
          font-size: 1em;
        }
      }
    }
  }

  @media screen and (min-width: $bp_desktop){

    ////////////////////////
    // INFO HOLDER
    .article_info{
      position: absolute;
      bottom: 2em;
      padding: 0 10em;
      color: #fff;
    }

    // TITLES
    h2{
      font-size: 1.999em;
    }

    // Content Wrapper
    .wrapper{
      height: 100%;
      padding-left: $layout_desktop_left_col;

      // Proportional Scale
      &:before{
        padding-bottom: calc(#{(($layout_desktop_header_ratio / $layout_desktop_right_col ) * 100%)} + #{$menu_newsletter_height});
      }

      .position{
        //position: absolute;
        top: 0; 
        width: 100%; height: 100%;
      }

      .slider{
        width: $layout_desktop_right_col;
      }
    }
  }


  @media screen and (min-width: $bp_desktop_full){
    height: 100vh;
    padding-top: $menu_newsletter_height;

    ////////////////////////
    // INFO HOLDER
    .article_info{
      padding: 0 14em;
    }

    // TITLES
    h3.cat_name{
      margin-bottom: 0em
    }
    h2{
      font-size: 2.369em;
    }

    .position{
      //position: relative;
      //width: 100%; height: 100%;
    }

    // Content Wrapper
    .wrapper{
      //height: 100%;
      //height: calc(100% - #{$menu_newsletter_height});

      // Proportional Scale
      &:before{
        display: none;
      }
    }

    ////////////////////////
    /// ARTICLE THUMBNAIL
    ////////////////////////
    .photo_holder{
      ////////////////////////
      // VIDEO TYPE
      &.video_type{

        a{
          // Player Icon
          &:after{
            display: block;
            top: 2.5em; left: 2.5em;
            width: 40px; height: 40px;
          }
        }
      }
    }


    ////////////////////////
    // SECTION TEMPLATE
    ////////////////////////
    &.section_template{
      .main_holder{
      }
     .latest_holder{
        .article_info{
          text-align: left;
        }

        h2{
          font-size: 1.333em;
          padding: 0 .5em;
        }
      }
    }
  }
}


