/////////////////////////////////////////////////////////////////////
////////////////////////////   LATEST   /////////////////////////////
/////////////////////////////////////////////////////////////////////
@mixin column_article {
  @include clearfix();
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 1.2em;
  text-align: left;

  &.video_type{
    // Thumbnail
    .photo_holder{
      a{
        // Player Icon
        &:after{
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          @include alignCenter();
          width: 62px;
          height: 62px;
          background: url($images-path+'icon_videoPlayer.png') no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  // Article Info
  .info_holder{
    position: relative;
    bottom: auto;
    width: 100%;
    color: #222;
    padding: 0;
  }

  // Thumbnail
  .photo_holder{
    position: relative;
    float: left;
    width: 34%;
    margin-right: 10px;

    // Image Ratio
    &:before{
      content: '';
      display: block;
      position: relative;
      width: 100%;
      padding-bottom: 66.666%;
    }

    // Inner Shadow
    &:after{
      display: none;
    }

    // Image
    img{
      width: 100%;
      height: auto ;
      @include transition(transform .2s ease-out);
      @include alignCenter();
    }

    // Link
    a{
      position: absolute;
      display: block;
      width: 100%; height: 100%;
      top: 0; left: 0;
      overflow: hidden;

      // Hover
      &:hover{
        img{
          @include transform(scale(1.02) translate(-50%, -50%));
        }
      }
    }
  }

  // TITLE
  h4{
    margin: 0;
    padding: 0 .5em 0 0;
    font-size: 1em;
    font-weight: normal;
    text-transform: none;

    // Link
    a{
      color: #222;

      // Hover
      &:hover{
        text-decoration: none;
      }
    }
  }
  
  // DATE
  span.date{
    font-size: 0.875em;
  }


  ///////////////////////////////////////
  // MEDIA QUERIES
  ///////////////////////////////////////
  @media screen and (min-width: 45.5em){
    width: calc(33.333% - 30px);
    float: left;
    margin: 0 15px 2em;
    border-bottom: none;
    padding: 0;


    // Thumbnail
    .photo_holder{
      float: none;
      width: 100%;
      margin: 0 0 1em;
    }
  }
}
.column_article{
  @include column_article;
}


@mixin full_article{
  text-align: center;

  // Article Title
  h4{
    font-size: 1.333em;
  }
  
  // Thumbnail
  .photo_holder{
    width: 100%;
    margin: 0 0 1em;
  }
  

  ///////////////////////////////////////
  // MEDIA QUERIES
  ///////////////////////////////////////
  @media screen and (min-width: 45.5em){
    width: calc(100% - 30px);

    // Article Info
    .info_holder{
      position: absolute;
      bottom: 2em;
      width: 100%;
      color: #fff;
      padding: 0 1em;
    }

    .photo_holder{
      margin: 0;

      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40%;

        @include linear-gradient(rgba(#000, 0) 0%, rgba(#000, .8) 95%);
      }

      img{
        margin: 0;
      }
    }

    h4{
      font-size: 1.875em;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 .5em;
      padding: 0 .5em;

      // Link
      a{
        color: #FFF;
      }
    }

    span.date{
      color: #fff;
    }
  }
}
.full_article{
  @include full_article;
}


////////////////////////
// ARTICLES LIST
ol.latest_list{
  @include clearfix();
  position: relative;
  list-style: none;
  margin: 0; padding: 0; border: 0;

  li{
    @include column_article;

    ///////////////////////
    // ITEM LAYOUT
    &:nth-child(4n+1){
      @include full_article;
    }
  }
}



///////////////////////////////////////
// MEDIA QUERIES
///////////////////////////////////////
@media screen and (min-width: 45.5em){
  ////////////////////////
  // TEMPLATE:: SECTION
  &.section_template{
    ol.latest_list{
      li{
        ///////////////////////
        // ITEM LAYOUT
        &:nth-child(4n+1){
          @include column_article;
        }

        &:nth-child(4n+4){
          @include full_article;
        }
      }
    }
  }
}


section#latest_module{
  text-align: center;

  ////////////////////////
  // TEMPLATE:: SECTION
  &.section_template{
    //padding-top: 0;

    // Section Circle Icon
    .circle_icon{
      display: none;
    }
  }

  @media screen and (min-width: $bp_desktop){
  }
}
