
/////////////////////////////////////////////////////////////////////
//////////////////////////   MAIN MENU  /////////////////////////////
/////////////////////////////////////////////////////////////////////
@include keyframes( menu_intro ){
  from{
    top: -4em;
  }
  to{
    top: 0;
  }
}
@include keyframes( menu_outro ){
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
#main_menu{
  position: absolute;
  z-index: 5;
  top: 0; left: 0;
  width: 100%;
  background: rgba(#fff, 0);
  @include transition(all .2s ease-out, background .4s ease);
  //@include animation(menu_outro .6s ease-out);
  //@include animation-delay(2s);


  ////////////////////////////////////////////////
  // MENU MODE: FIXED
  ////////////////////////////////////////////////
  &.fixed{
    position: fixed;
    background: rgba(#fff, .96);
    // @include animation(menu_intro .25s ease-out);
 

    ////////////////////////
    // MENU HOLDER
    .menu_holder{
      height: $menu_fixed_height;
    }


    ////////////////////////
    // LOGO
    .logo{
      a{
        background-image: url($images-path+'logo_header_red.svg');
      }
    }


    ////////////////////////
    // MENU ICON
    .menu_icon{
      width: $menu_fixed_height;
    }


    ////////////////////////
    // SEARCH FORM
    #search_frm{
      label{
        background-image: url($images-path+'search_icon_gray.svg');
      }
    }
    
    ////////////////////////
    // NAVIGATION
    nav{
      // MENU HOLDER
      ul{
        padding-top: .4em;
        
        // ITEM
        li{
          &:hover{
            & > a{ color: #fff; }
          }
          
          // Link
          a{
            color: #222;
            font-size: .9em;

            &:hover{
              color: #fff;
            }
          }
        }
      }
    }
  }
  ////////////////////////////////////////////////
  ////////////////////////////////////////////////




  ////////////////////////////////////////////////
  // MENU MODE: MOBILE MENU
  ////////////////////////////////////////////////
  &.mobileMenu{
    z-index: 5;

    .wrapper_container{
      background: rgba(#000, .9);
      padding: 0 1em;
    }
  }
  ////////////////////////////////////////////////
  ////////////////////////////////////////////////
  



  ////////////////////////
  // CONTENT WRAPPER
  .wrapper_container{
    height: 100%;
  }



  ////////////////////////
  // NEWSLETTER
  #newsletter_head{
    display: none;
    position: relative;
    @include clearfix();
    padding: 0 15px;
    height: $menu_newsletter_height;
    background: $id_color2;
    text-align: right;
    color: #fff;

    a{
      color: #fff;
    }


    ////////////////////////
    // SUBSCRIBE BUTTON
    a.newsletter{
      position: relative;
      display: inline-block;
      top: -4px;
      margin-right: .5em;
      padding-left: 2.15em;
      text-transform: uppercase;
      font-size: 0.833em;
      font-family: $font_titles;
      background: url($images-path+'icon_mail.png') no-repeat left center;
      background-size: 10%;
      
      // span
      span{
        font-weight: 500;
        font-style: italic;
        color: $id_color;
      }

      // Hover
      &:hover{
        text-decoration: none;
      }
    }
    

    ////////////////////////
    // SEARCH WINDOW OPEN
    a.searchWindowOpen_btn{
      cursor: pointer;
      display: inline-block;
      position: relative;
      margin: 3px .5em 0 0;
      width: $menu_newsletter_height - 9px;

      background: url($images-path+'search_icon.svg') center no-repeat;
      background-size: contain;
      @include text-hide();
    }


    ////////////////////////
    // SOCIAL NETWORK LIST
    ul.social{
      position: relative;
      display: inline-block;
      margin: 0; padding: 0; border: none;
      top: -4px;

      //
      li{
        position: relative;
        display: inline-block;
        width: 22px;
        @include transition(background .1s ease-out);


        // Button
        a{
          display: block;
          text-align: center;
          width: 100%; height: 100%;
          //@include alignCenter(true, true);
          @include transition(color .18s ease);

          // hover
          &:hover{
            color: $id_color;
            text-decoration: none;
          }

          // Hide Text
          span{
            @extend .sr-only;
          }
        }
      }
    }
  }


  

  ////////////////////////
  // MENU HOLDER
  .menu_holder{
    position: relative;
    height: $menu_mobile_height;
  }


  ////////////////////////
  // MENU ICON
  .menu_icon{
    display: inline-block;
    position: relative;
    width: $menu_mobile_height;

    // Button
    a{
      position: relative;
      display: block;
      width: 100%;
      padding-bottom: 100%;

      color: #FFF;
      background: $id_color;
      font-weight: bold;
      @include transition(background .2s ease);

      //Hover
      &:hover{
        background: darken($id_color, 7%)
      }
    }

    // Icon
    span{
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      zoom: 1.32;
    }
  }



  ////////////////////////
  // LOGO
  .logo{
    position: relative;
    display: inline-block;
    padding: 0em 0;
    margin: 0 0 0 .9em;
    height: 100%;
    width: 6em;
    @include alignCenter(false, true);
    //position: relative;

    // Link
    a{
      position: relative;
      display: block;
      height: 100%;
      background: url($images-path+'logo_header.svg') no-repeat center;
      background-size: contain;
      overflow: hidden;
      //text-indent: -9999px;
      //font-size: 1px;
      //@include hide-text();

      &:before{
        content: '';
        display: block;
        position: relative;
        height: 100%;
        //width: 33.5526315789%;
      }
    }
  }




  ////////////////////////
  // MENU LIST
  nav{
    display: none;
  }





  ///////////////////////////////////////
  // MEDIA QUERIES
  ///////////////////////////////////////
  @media screen and (min-width: 45.5em){
    .wrapper_container{
      padding: 0 0 0 30%;
    }

    ////////////////////////////////////////////////
    // MENU MODE: FIXED
    ////////////////////////////////////////////////
    &.fixed{
      .wrapper_container{
        padding-left: 0;
      }
    }
    ////////////////////////////////////////////////
  }


  @media screen and (min-width: $bp_desktop){
    .wrapper_container{
      padding-left: $layout_desktop_left_col;
    }


    ////////////////////////
    // NEWSLETTER
    #newsletter_head{
      display: block;
    }


    ////////////////////////
    // MENU ICON
    .menu_icon{
      display: none;
    }


    ////////////////////////
    // LOGO
    .logo{
      margin-left: 30px;
    }

    ////////////////////////
    // MENU LIST
    nav{
      display: block;
      height: 100%;
      @include clearfix();
      position: absolute;
      right: 30px; top: 0;
      
      // MENU
      ul{
        list-style: none;
        margin: 0 0; padding: .5em 0 0;
        width: 100%;

        // ITEM
        li{
          display: inline;
          float: left;
          margin: 0 .2em;

          // Last Child
          &:last-child{
            margin: 0;
          }

          // Hover
          &:hover{
            a{
              background: $id_color;
            }

            ul.submenu{
              display: block;
            }
          }

          
          // Link
          a{
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            font-family: $font_titles;
            font-size: .95em;
            font-weight: 500;
            letter-spacing: .024em;
            padding: .35em .35em;

            // Hover State
            &:hover{
              text-decoration: none;
            }
          }

          // SUBMENU LIST
          ul.submenu{
            display: none;
            background: #fff;
            padding: .5em;
            position: absolute;
            width: auto;

            // ITEM
            li{
              float: none;
              display: block;
              border-bottom: 2px solid #111;
              
              //
              &:last-child{
                border-bottom: none;
              }

              // Links
              a{
                display: block;
                color: #111;
                background: none;
                font-size: .785em;
  
                // Hover State
                &:hover,
                &.active{
                  background: none;
                  color: $id_color;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $bp_desktop_full){
    z-index: 4;

    .wrapper_container{
      padding-left: $layout_desktop_left_col;
    }


    .menu_holder{
      height: $menu_desktop_height;
    }


    ////////////////////////
    // LOGO
    .logo{
      margin-left: 15px;
    }


    ////////////////////////////////////////////////
    // MENU MODE: FIXED
    ////////////////////////////////////////////////
    &.fixed{
      .wrapper_container{
        padding-left: $layout_desktop_left_col;
      }
    }
    ////////////////////////////////////////////////
    


    ////////////////////////
    // MENU ICON
    .menu_icon{
      width: $menu_desktop_height;
    }

    ////////////////////////
    // MENU LIST
    nav{
      right: 15px; 

      ul{
        padding-top: 1em;
        margin: 0 0 0; 

        // ITEM
        li{      
          margin: 0 .2em;

          // Link
          a{
            font-size: 1em;
          }
        }
      }
    }
  }
}

