

/////////////////////////////////////////////////////////////////////
////////////////////////////   NEWS   ///////////////////////////////
/////////////////////////////////////////////////////////////////////
$news_desktop_top_offset: 9em;

#news_module{
  position: relative;
  background: #d5d6d7; //$id_color2;
  color: #FFF;
  text-align: center;

  ////////////////////////
  // CONTENT WRAPPER
  .wrapper{
    overflow: hidden;
    padding: 3em 15px 2em; 

    // 'Shadow' Gradient 
    &:before{
      content: '';
      display: none;
      position: absolute;
      left: 0; top: 6.4em;
      z-index: 3;
      width: 100%;
      padding-bottom: 15%;

      @include linear-gradient(rgba(#d5d6d7, 1) 70%, rgba(#d5d6d7, 0) 1%);
    }
    
    // Gradient Overlay
    &:after{
      content: '';
      display: none;
      position: absolute;
      left: 0; bottom: 0;
      z-index: 2;
      width: 100%;
      padding-bottom: 17%;

      @include linear-gradient(rgba(#d5d6d7, 0) 0%, rgba(#d5d6d7, 1) 75%);
    }
  }




  ////////////////////////
  // HEADERS
  .top_holder{
    padding: 15px 15px 0 0;

    // LOGO
    .logo{
      display: none;
      width: 87%;
      padding-bottom: .65em;
      border-bottom: solid 1px #fff;
      margin: 0 auto .75em;

      img{
        max-width: 150px;
        width: 100%;
        height: auto;
      }
    }


    // TITLE
    h3.cat_name{
      margin: 0 auto;
      font-size: 1em;
      font-weight: 900;
    }
  }

  ////////////////////////
  // NEWS LIST
  .news_holder{
    position: relative;
    margin: 2em auto 0;
    padding: 0 0;
    overflow: hidden;

    // LIST
    ol{
      @extend .dark_list;
    }
  }



  ////////////////////////
  // LOGO
  .news_module_logo{
    width: 100%;
    padding: 0 10%;
    margin-bottom: 1em;

    .wrap img{
      display: block;
      margin: 0 auto;
      max-width: 200px;
    }
  }



  ////////////////////////
  // MEDIA QUERIES
  ////////////////////////
  @media screen and (min-width: 45.5em){
    
  }

  @media screen and (min-width: $bp_desktop){
    margin: calc(#{-$layout_desktop_header_ratio} - #{$menu_newsletter_height}) 0 0;
    width: $layout_desktop_left_col;
    z-index: 4;
    background: none;

    ////////////////////////
    // CIRCLE ICON
    .circle_icon{
      display: none;
    }

    
    ////////////////////////
    .position{
      max-width: $bp_desktop_max;
      margin: auto;
      //padding-right: $layout_desktop_right_col;
      padding-right: 0%;


      // Proportional Scale
      &:before{
        content: '';
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: calc(#{(($layout_desktop_header_ratio / $layout_desktop_left_col ) * 100%)} + #{$menu_newsletter_height});
      }

      .wrapper{
        position: absolute;
        @include clearfix();
        padding: 0 0; 
        height: 100%;
        width: 100%;
        top: 0;
        background: #d5d6d7; //$id_color2;
      }
    }


    ////////////////////////
    // HEADERS
    .top_holder{
      height: $news_desktop_top_offset;

      // LOGO
      .logo{
        display: block;
      }

      // TITLE
      h3.cat_name{
        margin: 0 auto 0 .785em;
      }
    }


    ////////////////////////
    // NEWS LIST
    .news_holder{
      position: absolute;
      top: 0;
      padding-top: $news_desktop_top_offset;
      margin: 0 auto 0;
      height: 100%;
      text-align: left;

      ol{
        padding-bottom: 1.75em !important;

        li{
          // Layout
          &:nth-child(5){
            margin-bottom: 1em  !important;
            border-bottom: 1px solid #fff  !important;
            padding: 0 1em 1em  !important;
          }


          // Show all news
          &:nth-child(n+6){
            display: block !important;
          }
        }
      }
    }
  }


  @media screen and (min-width: $bp_desktop_full){
    margin: 0;

    .position{
      &:before{
        display: none;
      }

      .wrapper{
        top: 0px;
        position: fixed;
        width: $layout_desktop_left_col;
        height: 100%;
        min-height: 100vh;
      }
    }

    ////////////////////////
    // NEWS LIST
    .news_holder{
      //height: 87%;
      //padding: 0 .75em;
    }


    ////////////////////////
    // HEADERS
    .top_holder{
      // TITLE
      h3.cat_name{
        font-size: 1.12em;
      }
    }
  }
}

// List layout
.dark_list{
  list-style: none;
  padding: 0; margin: 0; border: 0;

  // LIST TIME
  li{
    position: relative;
    margin-bottom: 1em;
    border-bottom: 1px solid #fff;
    padding: 0 1em 1em;

    // Show only 5 elements on mobile sizes
    &:nth-child(n+6){
      display: none;
    }
    
    // Style Last Child
    &:nth-child(5),
    &:last-child{
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    // TITLE
    h4{
      font-weight: normal;
      margin: 0 auto .25em;
      
      // LINK
      a{
        color: $id_color2;
        @include transition(color .08s ease-out);

        // HOVER
        &:hover{
          color: $id_color;
          text-decoration: none;
        }
      }
    }
    
    // CATGORY NAME
    span.cat_name{
      font-weight: 700;
    }
  }
}
