

/////////////////////////////////////////////////////////////////////
////////////////////////////   NEWS   ///////////////////////////////
/////////////////////////////////////////////////////////////////////
#news_module{
  position: relative;
  background: #191919; //$id_color2;
  color: #FFF;
  text-align: center;

  ////////////////////////
  // CONTENT WRAPPER
  .wrapper{
    padding: 3em 0; 

    // 'Shadow' Gradient 
    &:before{
      content: '';
      display: none;
      position: absolute;
      left: 0; top: 6.4em;
      z-index: 3;
      width: 100%;
      padding-bottom: 15%;

      @include linear-gradient(rgba(#191919, 1) 70%, rgba(#191919, 0) 1%);
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 0; bottom: 1%;
      z-index: 2;
      width: 100%;
      padding-bottom: 15%;

      @include linear-gradient(rgba(#191919, 0) 0%, rgba(#191919, 1) 70%);
    }
  }

  ////////////////////////
  // TITLE
  h3.cat_name{
    margin: 0 auto;
    font-weight: 900;
  }

  ////////////////////////
  // NEWS LIST
  .news_holder{
    position: relative;
    margin: 2em auto 0;
    padding: 0 0;
    overflow: hidden;

    // LIST
    ol{
      @extend .dark_list;
    }
  }



  ////////////////////////
  // MEDIA QUERIES
  ////////////////////////
  @media screen and (min-width: 45.5em){
    //display: none;
    margin: -$layout_desktop_header_ratio auto 0;
    z-index: 4;
    background: none;
    text-align: left;

    .position{
      //width: 100%;
      max-width: $bp_desktop_max;
      margin: auto;
      padding-right: 70%;

      // Proportional Scale
      &:before{
        content: '';
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: ( ($layout_desktop_header_ratio) / 30 ) * 100;
      }

      .wrapper{
        position: absolute;
        @include clearfix();    
        padding: 2em 0 0; 
        height: 100%;
        width: 30%;
        top: 0;
        //height: 400px;
        //top: -400px;
        background: #191919; //$id_color2;
      }
    }

    ////////////////////////
    // NEWS LIST
    .news_holder{
      margin: 1.7em auto 0;
      height: 80%;

      ol{
        padding-bottom: 1.75em !important;

        li{
          // Layout
          &:nth-child(5){
            margin-bottom: 1em  !important;
            border-bottom: 1px solid #fff  !important;
            padding: 0 1em 1em  !important;
          }


          // Show all news
          &:nth-child(n+6){
            display: block !important;
          }
        }
      }
    }

    ////////////////////////
    // TITLE
    h3.cat_name{
      margin: 0 auto 0 .785em;
    }
  }

  @media screen and (min-width: $bp_desktop){
    margin: calc(#{-$layout_desktop_header_ratio} - #{$menu_newsletter_height}) auto 0;

    .position{
      padding-right: $layout_desktop_right_col;

      // Proportional Scale
      &:before{
        padding-bottom: calc(#{(($layout_desktop_header_ratio / $layout_desktop_left_col ) * 100%)} + #{$menu_newsletter_height});
      }

      .wrapper{
        width: $layout_desktop_left_col;
      }
    }

    ////////////////////////
    // NEWS LIST
    .news_holder{
      margin: 2em auto 0;
    }
  }

  @media screen and (min-width: $bp_desktop_full){
    margin: 0;

    .position{
      &:before{
        display: none;
      }

      .wrapper{
        top: 0px;
        position: fixed;
        height: 100%;
        min-height: 100vh;
      }
    }

    ////////////////////////
    // NEWS LIST
    .news_holder{
      height: 87%;
      padding: 0 .75em;
    }

    ////////////////////////
    // TITLE
    h3.cat_name{
      font-size: 1.333em;
    }
  }
}

// List layout
.dark_list{
  list-style: none;
  padding: 0; margin: 0; border: 0;

  // LIST TIME
  li{
    position: relative;
    margin-bottom: 1em;
    border-bottom: 1px solid #fff;
    padding: 0 1em 1em;

    // Show only 5 elements on mobile sizes
    &:nth-child(n+6){
      display: none;
    }
    
    // Style Last Child
    &:nth-child(5),
    &:last-child{
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    // TITLE
    h4{
      font-weight: normal;
      margin: 0 auto .25em;
      
      // LINK
      a{
        color: #fff;
        @include transition(color .08s ease-out);

        // HOVER
        &:hover{
          color: #cfcfcf;
          text-decoration: none;
        }
      }
    }
    
    // CATGORY NAME
    span.cat_name{
      font-weight: 700;
    }
  }
}
