
/////////////////////////////////////////////////////////////////////
/////////////////////////////   MIXINS  /////////////////////////////
/////////////////////////////////////////////////////////////////////
@mixin alignCenter($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}




/////////////////////////////////////////////////////////////////////
///////////////////////////   VARIABLES  ////////////////////////////
/////////////////////////////////////////////////////////////////////

$icon-font-path: '../fonts/';
$images-path: '../images/';

$menu_mobile_height: 40px;
$menu_desktop_height: 65px;
$menu_fixed_height: 42px;
$menu_newsletter_height: 32px;

$footer_desktop_height: 70px;

$bp_desktop: 56.25em;
$bp_desktop_max: 120em;
$bp_desktop_full: 70em;

$layout_desktop_left_col: 25.357143%;
$layout_desktop_right_col: (100% - $layout_desktop_left_col);
$layout_desktop_header_ratio: 50%;

$id_color: #e12029;
$id_color2: #020202;
$font_main: 'Roboto', sans-serif;
$font_titles: 'Oswald', sans-serif;






/////////////////////////////////////////////////////////////////////
///////////////////////////   LIBRARIES  ////////////////////////////
/////////////////////////////////////////////////////////////////////
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower






/////////////////////////////////////////////////////////////////////
////////////////////////   MAIN CONTAINER  //////////////////////////
/////////////////////////////////////////////////////////////////////
#main_container{
  position: relative;
  padding: 0;
  margin: 0 auto;

  .wrapper_container{
    position: relative;
    @include clearfix();
    width: 100%;
    max-width: $bp_desktop_max;
    margin: 0 auto;
    padding: 0 15px;

    ////////////////////////
    // MEDIA QUERIES
    ////////////////////////
    @media screen and (min-width: $bp_desktop_full){
      padding-left: $layout_desktop_left_col;
      padding-right: 0;
    }
  }
}





/////////////////////////////////////////////////////////////////////
////////////////////////////   LAYOUT  //////////////////////////////
/////////////////////////////////////////////////////////////////////
// IMPORT PIECES
@import "format";
@import "search";
@import "menu";
@import "menu_mobile";
@import "footer";
@import "news";
@import "header";
@import "banners";
@import "latest";
@import "article";
@import "home";











